
<%= form_with model: @travel, local: true, id: "travel-form",class: "new-post-detail" do |form| %>
  <p>
    <%= form.label :国名, class: "field" %>
    <%= form.text_field :country, class: "field", size: 30 %>
  </p>
  <p>
    <%= form.label :地域 %>
    <%= form.text_field :region, class: "field", size: 30 %>
  </p>
  <p>
    <%= form.label :都市 %>
    <%= form.text_field :city, class: "field", size: 30 %>
  </p>
  <p>
    <%= form.label :旅行プラン %>
    <%= form.text_area :travel_plan, class: "field", size: "50x3" %>
  </p>
  <p>
    <%#= form.label :travel_details %>
    <%# model: @travel_detailsとしてあげることで@travel.travel_details.order(:id)の内容を取得できるようになったので表示の順番が正常になる%>
    <%= form.fields :travel_details, model: @travel_details do |travel_detail| %>
      <% render "travel_detail_fields", f: travel_detail %>
    <% end %>
  </p>
  <p>
    <%= link_to_add_association "＋写真とコメントを追加", form, :travel_details %>
  </p>
  <p><%= form.submit "送信" %></p>
<% end %>