
<%= form_with model: @travel, local: true, id: "travel-form" do |form| %>
  <p>
    <%= form.label :country %>
    <%= form.text_field :country %>
  </p>
  <p>
    <%= form.label :region %>
    <%= form.text_field :region %>
  </p>
  <p>
    <%= form.label :city %>
    <%= form.text_field :city %>
  </p>
  <p>
    <%= form.label :travel_plan %>
    <%= form.text_area :travel_plan %>
  </p>
  <p>
    <%= form.label :travel_details %>
    <%# model: @travel_detailsとしてあげることで@travel.travel_details.order(:id)の内容を取得できるようになったので表示の順番が正常になる%>
    <%= form.fields :travel_details, model: @travel_details do |travel_detail| %>
      <% render "travel_detail_fields", f: travel_detail %>
    <% end %>
  </p>
  <p>
    <%= link_to_add_association "＋写真とコメントを追加", form, :travel_details %>
  </p>
  <p><%= form.submit "送信" %></p>
<% end %>