<div class="nested-fields">
  <%= f.hidden_field :_destroy %>
    <div class="form-group">
    <%= f.label :image, "写真" , class: "string-margin font-size" %>
    <%= f.file_field :image, data: { image_url: f.object.image.url } %>
  </div>
  <div class="form-group">
    <%= f.label :content, "コメント" , class: "font-size" %>
    <%= f.text_area :content, class: "form-control form-control-width", rows: 6 %>
  </div>
  <%= link_to_remove_association "削除", f , class: "new-post-remove" %>
</div>
