<% if params[:continent].present? %>
<div class="top-image">
  <%= image_tag "#{params[:continent]}.jpg", style: "width: 100%" %>
  <div class="text"><%= Settings.continent.send(params[:continent]) %></div>
</div>
<% elsif params[:area].present? %>
<div class="top-image">
  <%= image_tag "#{params[:area]}.jpg", style: "width: 100%" %>
  <div class="text"><%= ("#{Settings.area.send(params[:area])}地方") %></div>
</div>
<% else %>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" data-interval="7000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "app-top-image.jpg", class:"bd-placeholder-img w-100"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "stockholm.jpg", class:"bd-placeholder-img w-100"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "swiss.jpg", class:"bd-placeholder-img w-100"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "gamla-stan.jpg", class:"bd-placeholder-img w-100"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "tekapo.jpg", class:"bd-placeholder-img w-100"%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<% end %>
<div class="report">
  <h1>みんなの旅行日記</h1>
  <% @travels.each.with_index(1) do |travel, i| %>
    <hr width="80%" noshade>
    <div class="box-img">
    <p><%= image_tag travel.travel_details.order(:id).first.image.url, width: 300 %></p>
    </div>
    <div class="box-text">
      <p>No. <%= i %></p>
      <p>国名: <%= travel.country %></p>
      <p>地域: <%= travel.region %></p>
      <p><%= l travel.created_at, format: :short %></p>
      <% if user_signed_in? %>
        <p id="travel-<%= travel.id %>">
          <% if @favorited_travel_ids.include?(travel.id) %>
            <%= render "favorite", travel: travel %>
          <% else %>
            <%= render "disfavorite", travel: travel %>
          <% end %>
        </p>
      <% end %>
      <p>
        <%= link_to "詳細", travel %>
        <% if user_signed_in? && current_user.id == travel.user.id %>
          <%= link_to "編集", edit_travel_path(travel) %>
          <%= link_to "削除", travel_path(travel),method: :delete, data: { confirm: "削除しますか?" } %>
        <% end %>
      </p>
    </div>
  <% end %>
  <%= paginate @travels %>
</div>

