<h1>投稿詳細</h1>
<h2>map</h2>
<%# <input id="address" type="textbox" value="">
<input type="button" value="検索" onclick="codeAddress()"> %>
<div id='map'></div>
<h4>【国名】</h4>
<p id="travel-country"><%= @travel.country %></p>
<h4>【場所】</h4>
<p id="travel-region"><%= @travel.region %></p>
<h4>【旅行プラン】</h4>
<p><%= @travel.travel_plan %></p>
<% @travel.travel_details.each do |travel_detail| %>
  <% if travel_detail.image? %>
    <h4>【写真】</h4>
    <p><%= image_tag travel_detail.image.url, width: 320 %></p>
  <% end %>
  <h4>【コメント】</h4>
  <%= travel_detail.content %>
<% end %>
<p id="travel-<%= @travel.id %>">
  <% if @travel.favorited_by?(current_user) %>
    <%= render "favorite", travel: @travel %>
  <% else %>
    <%= render "disfavorite", travel: @travel %>
  <% end %>
</p>
<% if current_user.id == @travel.user.id %>
  <p>
    <%= link_to "編集", edit_travel_path(@travel) %>
    <%= link_to "削除", travel_path(@travel), method: :delete, data: { confirm: "削除しますか?" } %>
  </p>
<% end %>
<p><%= link_to "投稿一覧", travels_path %></p>
<style>
  #map {
    height: 400px;
    width: 400px;
  }
</style>
<script>
  var geocoder
  var map
  var isGeocoder = false
  
  function initMap() {
    if (!isGeocoder) {
      isGeocoder = true
      geocoder = new google.maps.Geocoder()
      let country = document.getElementById('travel-country').innerText
      let region = document.getElementById('travel-region').innerText
  
      geocoder.geocode({
        'address': `${country} ${region}`
      }, function (results, status) {
        if (status == 'OK') {
          let coordinates = {
            lat: results[0].geometry.region.lat(),
            lng: results[0].geometry.region.lng()
          }
  
          map = new google.maps.Map(document.getElementById('map'), {
            center: coordinates,
            zoom: 12,
          });
  
          marker = new google.maps.Marker({
            position: coordinates,
            map: map
          });
        } else {
          alert('該当する結果がありませんでした：' + status);
        }
      });
    }
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google[:map][:api] %>&callback=initMap" async defer></script>
