<div class="container-post">
  <h1 class="text-center">投稿詳細</h1>
  <h4>国名</h4>
  <p id="travel-country"><%= @travel.country %></p>
  <h4>地域</h4>
  <p id="travel-region"><%= @travel.region %></p>
  <h4>都市</h4>
  <p id="travel-city"><%= @travel.city %></p>
  <h4>旅行プラン</h4>
  <p><%= @travel.travel_plan %></p>
  <h4>更新日</h4>
  <p><%= l @travel.created_at, format: :short %></p>
  <div id='map'></div>
  <% @travel_details.each do |travel_detail| %>
    <%# <h4>写真</h4> %>
    <p><%= image_tag travel_detail.image.url, width: 350, class: "travel-detils-image" %></p>
    <%# <h4>コメント</h4> %>
    <%= travel_detail.content %>
  <% end %>
  <% if user_signed_in? %>
    <p id="travel-<%= @travel.id%>">
      <% if @travel.favorited_by?(current_user) %>
        <%= render "favorite", travel: @travel %>
      <% else %>
        <%= render "disfavorite", travel: @travel %>
      <% end %>
    </p>
  <% end %>
  <% if user_signed_in? && current_user.id == @travel.user.id %>
    <p>
      <%= link_to "編集", edit_travel_path(@travel), class: "edit" %>
      <%= link_to "削除", travel_path(@travel), method: :delete, data: { confirm: "削除しますか?" }, class: "remove" %>
    </p>
  <% end %>
  <p><%= link_to "投稿一覧", travels_path, class: "list-post" %></p>
</div>
<script>
  let map
  
  function initMap() {
      geocoder = new google.maps.Geocoder()
  
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= @travel.latitude %>, lng: <%= @travel.longitude %>},
            zoom: 12,
          });
  
          marker = new google.maps.Marker({
            position: {lat: <%= @travel.latitude %>, lng: <%= @travel.longitude %>},
            map: map
          });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google[:map][:api] %>&callback=initMap" async defer></script>

