<div id="carousel-top-fade" class="carousel slide carousel-fade" data-ride="carousel" data-interval="7000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "passport.jpg", class:"bd-placeholder-img w-100"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "plane.jpg", class:"bd-placeholder-img w-100"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "road.jpg", class:"bd-placeholder-img w-100"%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel-top-fade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-top-fade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container-post">
  <div class="string-font my-3">
  <p><%= @travel.country %></p>
  <p><%= @travel.region %></p>
  <p><%= @travel.city %></p>
  <p><%= @travel.travel_plan %></p>
  <p><%= l @travel.created_at, format: :short %></p>
  </div>
  <div id='map'></div>
  <% @travel_details.each do |travel_detail| %>
    <p><%= image_tag travel_detail.image.url, width: 600, class: "travel-detils-image" %></p>
    <div class="content-detail">
      <%= travel_detail.content %>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <p id="travel-<%= @travel.id%>">
      <% if @travel.favorited_by?(current_user) %>
        <%= render "favorite", travel: @travel %>
      <% else %>
        <%= render "disfavorite", travel: @travel %>
      <% end %>
    </p>
  <% end %>
  <% if user_signed_in? && current_user.id == @travel.user.id %>
    <p>
      <%= link_to "編集", edit_travel_path(@travel), class: "edit" %>
      <%= link_to "削除", travel_path(@travel), method: :delete, data: { confirm: "削除しますか?" }, class: "remove" %>
    </p>
  <% end %>
  <p><%= link_to "投稿一覧", travels_path, class: "list-post" %></p>
</div>

<script>
  let map
  
  function initMap() {
      geocoder = new google.maps.Geocoder()
  
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= @travel.latitude %>, lng: <%= @travel.longitude %>},
            zoom: 12,
          });
  
          marker = new google.maps.Marker({
            position: {lat: <%= @travel.latitude %>, lng: <%= @travel.longitude %>},
            map: map
          });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google[:map][:api] %>&callback=initMap" async defer></script>

