<div class="container-login">
  <h1 class="text-center">アカウント編集</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= bootstrap_devise_error_messages! %>
    <div class="form-grorp mb-3">
      <%= f.label :name %>
      <%= f.text_field :name, class:'form-control', required: true, maxlength: '10' ,placeholder: "例 : 山田太郎" %>
      <small class="form-text text-muted">(10字以内)</small>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control',placeholder: "例 : email@kkkkkk.net" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control', placeholder: "例 : 6字以上の半角英数字" %>
      <small class="form-text text-muted"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></small>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control', placeholder: "例 : 6字以上の半角英数字"  %>
    </div>
    <div class="form-group">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' , placeholder: "例 : 6字以上の半角英数字"%>
      <small class="form-text text-muted"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>
    </div>
    <div class="form-group">
      <%= f.submit t('.update'), class: 'btn btn-primary btn-block' %>
    </div>
  <% end %>
  <hr class="devise-link my-5" noshade>
    <%= link_to "投稿一覧", travels_path, class: "btn btn-dark btn-block post-list" %>
  <div class="form-group">
    <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: {confirm: t('.are_you_sure')}, method: :delete, class: 'btn btn-danger btn-block' %>
  </div>
</div>
