<header class="fixed-top bg-black">
  <nav class="navbar navbar-expand navbar-dark navbar-header" >
    <ul class="navbar-nav mr-auto">
      <%= link_to "ENJOY TRIP", travels_path, class: 'navbar-brand' %>
    </ul>
    <% if user_signed_in? || !devise_controller? %>
      <div class="dropdown">
        <button class="btn-header mr-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          <i class="fas fa-user-circle fa-2x text-white"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <% if user_signed_in? %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            <%= link_to 'アカウント編集', edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to "新規投稿", new_travel_path, class: "dropdown-item" %>
          <% else %>
            <%= link_to "新規登録", new_user_registration_path, class: 'dropdown-item' %>
            <%= link_to "ログイン", new_user_session_path, class: 'dropdown-item' %>
            <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: 'dropdown-item', method: :post %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div id="Navber">
      <ul class="navbar-nav">
        <% if user_signed_in? || !devise_controller? %>
          <li class="navbar-nav active">
            <%= link_to href="#", class: 'nav-link' do %>
              <button type="button" class="btn-header" data-toggle="modal" data-target="#mapModal" >
                <i class="fas fa-search fa-2x text-white"></i>
              </button>
            <% end %>
          </li>
        <% end %>
        <% unless user_signed_in? %>
          <% if request.path == "/users/sign_in" %>
            <li class="nav-item active">
              <span class="nav-link text-brown yet-member">
                まだ会員<br class="header-br">
                でない方
              </span>
            </li>
            <li class="nav-item active nav-new" >
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-white' %>
            </li>
          <% elsif request.path == "/users/sign_up" %>
            <li class="nav-item active ">
              <span class="nav-link text-brown">
                既に会員の方
              </span>
            </li>
            <li class="nav-item active nav-login">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-white'%>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
<%= render 'shared/map_modal' %>
