<header class="fixed-top bg-black">
  <nav class="navbar navbar-expand navbar-dark navbar-header" >
    <ul class="navbar-nav mr-auto">
      <%= link_to "ENJOY TRIP", travels_path, class: 'navbar-brand' %>
    </ul>
    <% if user_signed_in? || !devise_controller? %>
      <div class="dropdown">
        <button class="btn-header mr-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          <i class="far fa-user-circle fa-2x text-white"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <% if user_signed_in? %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            <%= link_to 'アカウント編集', edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to "新規投稿", new_travel_path, class: "dropdown-item" %>
          <% else %>
            <%= link_to "新規登録", new_user_registration_path, class: 'dropdown-item' %>
            <%= link_to "ログイン", new_user_session_path, class: 'dropdown-item' %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div id="Navber">
      <ul class="navbar-nav">
        <% if user_signed_in? || !devise_controller? %>
          <li class="navbar-nav active">
            <%= link_to href="#", class: 'nav-link' do %>
              <button type="button" class="btn-header" data-toggle="modal" data-target="#mapModal" >
                <i class="fas fa-search fa-2x text-white"></i>
              </button>
            <% end %>
          </li>
        <% end %>
        <% unless user_signed_in? %>
          <% if request.path == "/users/sign_in" %>
            <li class="nav-item active">
              <span class="nav-link text-brown yet-member">
                まだ会員<br class="header-br">でない方
              </span>
            </li>
            <li class="nav-item active nav-new" >
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-white' %>
            </li>
          <% elsif request.path == "/users/sign_up" %>
            <li class="nav-item active ">
              <span class="nav-link text-brown">
                既に会員の方
              </span>
            </li>
            <li class="nav-item active nav-login">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-white'%>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title modal-string" id="mapModalLabel">エリアから探す</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-string">
        <p>海外から探す ></p>
        </div>
        <div class="map-image-wrapper">
          <%= image_tag "world_map.jpg", class: "map-image" %>
          <%# Settings.continent.keysはsettings.ymlのデータが入っている。しかしシンボルのままなので.map(&:to_s)をつけてあげて文字列に変更してあげてeachでまわしてあげる。map-<%= continent はmap-erope,asiaなどが入っている。Settings.continent.sendは文字列を呼び出すためのメソッドのこと。sendを記述しないと(continent)は文字列なのでnilになって文字列を呼び出せない %>
          <% Settings.continent.keys.map(&:to_s).each do |continent| %>
            <div class="map-area map-<%= continent %>">
              <%= link_to  travels_path(continent: continent), class: "map-area map-#{continent}" do %>
                <i class="fas fa-map-marker-alt color"></i> <%= Settings.continent.send(continent) %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="modal-string">
        <p>国内から探す ></p>
        </div>
        <div class="map-image-wrapper">
          <%= image_tag "japan_map.jpg", class: "map-image" %>
          <% Settings.area.keys.map(&:to_s).each do |area| %>
            <div class="map-area map-<% area %>">
              <%= link_to travels_path(area: area), class: "map-area map-#{area}" do %>
                <i class="fas fa-map-marker-alt color"></i> <%= Settings.area.send(area) %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to "投稿一覧", travels_path, class: "list" %>
        <button type="button" class="btn-header" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
