<!DOCTYPE html>
<html>
  <head>
    <title>OriginalTravelApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  </head>
  <body>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        $('.a').slick({
          dots: true,
          infinite: true,
          speed: 1500,
          fade: true,
          autoplay: true,
          autoplaySpeed: 4000,
          prevArrow: '<button class="slide-arrow prev-arrow"></button>',
          nextArrow: '<button class="slide-arrow next-arrow"></button>',
          dotsClass: 'slide-dots',
          pauseOnFocus: false,
          pauseOnHover: false,
          pauseOnDotsHover: false,
        });
      });
    </script>
    <%= render 'shared/header' %>
    <%= yield %>
  </body>
</html>
